{% include "header.html" %}
{% include "navbar.html" %}
{% include "sidebar.html" %}


    <!-- Content Header (Page header) -->
    <div class="content-header">
		<div class="container-fluid">
{% include "messages.html" %}
		<a class="btn btn-danger float-right" data-toggle="modal" data-target="#delete_company" href="#">Delete company</a>
		<div class="modal fade" id="delete_company">
			<div class="modal-dialog">
			  <div class="modal-content bg-danger">
				<form role="form" action="/manage/delete_company/{{company.pk}}/" method="post">
				{% csrf_token %}
					<div class="modal-header">
					  <h4 class="modal-title">Delete user number {{ company.pk }}</h4>
					  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					  </button>
					</div>
					<div class="modal-body">
					  <p>Are you sure of this?</p>
					</div>
					<div class="modal-footer justify-content-between">
					  <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
					  <button type="submit" class="btn btn-outline-light">Delete</button>
					</div>
				  </div>
				</form>
			  <!-- /.modal-content -->
			</div>
		<!-- /.modal-dialog -->
		</div>
        <div class="row mb-2">
            <h1 class="m-0 text-dark">{{ company.name }}</h1>
        </div><!-- /.row -->
			<form role="form" action="" method="post">
			{% csrf_token %}
			<div class="col-md-12">
				<div class="card card-primary">
					<div class="card-body">
						<div class="form-group row">
							<label for="name" class="col-sm-2">Name</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="name" name="name" value="{{ company.name }}">
							</div>
						</div>
						<div class="form-group row">
							<label for="industry" class="col-sm-2">Industry</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="industry" name="industry" value="{{ company.industry }}">
							</div>
						</div>
						<div class="form-group row">
							<label for="employee_count" class="col-sm-2">Employee count</label>
							<div class="col-sm-8">
								<input type="number" class="form-control" id="employee_count" name="employee_count" value="{{ company.employee_count }}">
							</div>
						</div>
						<div class="form-group row">
							<label for="primary_contact_name" class="col-sm-2">Primary contact name</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="primary_contact_name" name="primary_contact_name" value="{{ company.primary_contact_name }}">
							</div>
						</div>
						<div class="form-group row">
							<label for="primary_contact_email" class="col-sm-2">Primary contact email</label>
							<div class="col-sm-8">
								<input type="email" class="form-control" id="primary_contact_email" name="primary_contact_email" value="{{ company.primary_contact_email }}">
							</div>
						</div>
						<div class="form-group row">
							<label for="secondary_contact_name" class="col-sm-2">Secondary contact name</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="secondary_contact_name" name="secondary_contact_name" value="{{ company.secondary_contact_name }}">
							</div>
						</div>
						<div class="form-group row">
							<label for="secondary_contact_email" class="col-sm-2">Secondary contact email</label>
							<div class="col-sm-8">
								<input type="email" class="form-control" id="secondary_contact_email" name="secondary_contact_email" value="{{ company.secondary_contact_email }}">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
			<hr />
				<div class="card card-primary">
					<div class="card-body">
					
						<div class="card-footer">
							<button type="submit" class="btn btn-primary">Save</button>
						</div>
					</div>
				</div>
				</form>
			</div>
    <!-- /.content -->

{% include "footer.html" %}